
@{
    ViewBag.Title = "Dashboard";
}

<div class="text-center">
    <br />
    <br />
    <h2>Bienvenido al panel del administrador.</h2>
    <br />
    <img src="~/Imagenes/monitor-admin.png" width="300" />
</div>