@{
    ViewBag.Title = "Acerca de nosotros";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "A professional ASP.NET MVC template for building secure, fast, robust and adaptable web applications or sites. It provides the minimum amount of code required on top of the default MVC template provided by Microsoft.";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Nahuel Tosi Brandi";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@VictorMCGA");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}
<div class="jumbotron">

    <h2>@ViewBag.Title.</h2>
    <br />
    <h4>Aventura, calidez y magia</h4>

    <p>Como especialistas en viajes por el mundo, queremos compartir contigo nuestra pasión y conocimientos.</p>
</div>
<br />


    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    ¿Cómo trabajamos?
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    Safari World es la combinación de dos de nuestras pasiones: viajar, y los cálidos paisajes del mundo.
                    Somos un equipo internacional de expertos en viajes por el mundo. Llevamos muchos años creando experiencias a medida e inolvidables para nuestros clientes. Contamos con un conocimiento profundo del planeta y organizamos cada parte de tu viaje hasta el más pequeño detalle, incluyendo los vuelos internacionales, el alojamiento, los transfers, los vuelos domésticos, las actividades y los tours.
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    ¿Qué nos diferencia del resto?
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    Que no somos ningún gigante touroperador centrado en experiencias estándar. Somos expertos que han probado cada actividad y alojamiento que recomendamos para asegurarnos de que vas a recordarlos con una sonrisa para el resto de tu vida. Te acompañamos en cada paso, así que te sentirás apoyado por un equipo de profesionales que te ayudará a vivir un viaje sin contratiempos, único e inolvidable.
                </div>
            </div>
        </div>
    </div>