@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Safari World<br />
    Bernardo de Irigoyen 696 - San Isidro<br />
    <abbr title="Phone">Tel:</abbr>
    4737-5313/14
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@safariworld.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@safariworld.com</a>
</address>

<br />
<br />
<p>Ante cualquier consulta, Safari World a su disposición.</p>