@{
    ViewBag.Title = "Home";
}




<div style="width:100%">
    <div class="text-center"><img src="~/Imagenes/animales1.jpg" width="900" /></div>
    @*https://www.kuoni.co.uk/upload/sites/safari/destinations.jpg*@
    @*https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fadriennejordan%2Ffiles%2F2019%2F07%2Fmu4.jpg*@
</div>

<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <div class="img, text-center"><img src="~/Imagenes/cobaya.png" width="300"></div>
        @*https://apasio-safari.com/wp-content/uploads/2018/12/KEN_2018_1TKI_06C5A8260_2000.jpg*@
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <h3 class="text-danger text-center">Cualquier especie.</h3>
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    Todo tipo de animales domesticos, desde los más chicos, a los más grandes.
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="item, text-center"><img src="https://myrealdomain.com/images/medicina-veterinaria-png-1.png" width="300" /></div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                    <h3 class="text-info text-center">Veterinaria 24h.</h3>
                </a>
            </div>
            <div id="collapse2" class="accordion-body collapse">
                <div class="accordion-inner">
                    Servicio de veterinaria las 24h del día, con la mejor atención.
                </div>
            </div>
        </div>
    </div>
   
    <div class="col-md-4">
        <div class="item, text-center"><img src="~/Imagenes/veterinario.jpg" width="300" /></div>
        @*https://cdn.civitatis.com/tanzania/arusha/galeria/safari-elefante.jpg*@
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                    <h3 class="text-success text-center">La mejor atención.</h3>
                </a>
            </div>
            <div id="collapse3" class="accordion-body collapse">
                <div class="accordion-inner">
                    La mejor atención, para que estés tranquilo que dejas a tu mascota en buenas manos.
                </div>
            </div>
        </div>
    </div>
</div>

