@{
    ViewBag.Title = "Home Page";
}




<div style="width:100%">
    <div class="text-center"><img src="https://www.kuoni.co.uk/upload/sites/safari/destinations.jpg" width="900" /></div>
    @*https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fadriennejordan%2Ffiles%2F2019%2F07%2Fmu4.jpg*@
</div>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <div class="img, text-center"><img src="https://apasio-safari.com/wp-content/uploads/2018/12/KEN_2018_1TKI_06C5A8260_2000.jpg" width="300"></div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <h3 class="text-danger text-center">Una experiencia única.</h3>
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    Tours inolvidables, para que vivas la mejor experiencia de safari en el mundo.
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="item, text-center"><img src="https://myrealdomain.com/images/medicina-veterinaria-png-1.png" width="300" /></div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                    <h3 class="text-info text-center">Veterinaria 24h.</h3>
                </a>
            </div>
            <div id="collapse2" class="accordion-body collapse">
                <div class="accordion-inner">
                    Servicio de veterinaria las 24h del día, con la mejor atención.
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="item, text-center"><img src="https://cdn.civitatis.com/tanzania/arusha/galeria/safari-elefante.jpg" width="300" /></div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                    <h3 class="text-success text-center">Vivílo de cerca.</h3>
                </a>
            </div>
            <div id="collapse3" class="accordion-body collapse">
                <div class="accordion-inner">
                    Tan cerca de los animales, que escucharás su respiración.
                </div>
            </div>
        </div>
    </div>
</div>

